<div class="row">
  <div class="col-xs-12 col-sm-4">
    <div class="list-group">
      <a [routerLink]="['/servers', server.id]"
        [queryParams]="{allowEdit: server.id === 3 ? '1' : '0'}"
        fragment="loading"
        href="#"
        class="list-group-item"
        *ngFor="let server of servers">
        {{ server.name }}
      </a>
      <!-- queryParams allows key porperties to be added to the route.  -->
    </div>
  </div>
  <div class="col-xs-12 col-sm-4">
    <!-- <a routerLink="/servers">Reload Page</a>  -->
    <!-- must use the absolute path here to avoid errors -->
    <router-outlet></router-outlet>
    <!-- this will add new hook which will be used on all child routes of the route bing loaded on the servers**child routes will be loaded in this router.  -->
    <!-- <button class="btn btn-primary" (click)="onReload()">Reload Page</button>
    <app-edit-server></app-edit-server>
    <hr> -->
    <!-- <app-server></app-server> -->
  </div>
</div>

